img {
  width: 50px;
}
#face {
  width: 400px;
}
#eyes1 {
  position: absolute;
  top: 200px;
  left: 120px;
  width: 200px;
}
#hair2 {
  position: absolute;
  top: 40px;
  left: 70px;
  width: 300px;
}

#mouth1 {
  position: absolute;
  top: 350px;
  left: 200px;
  width: 90px;
}
#ears2 {
  position: absolute;
  top: 180px;
  left: 0px;;
  width: 450px;
}
#nose2 {
  position: absolute;
  top: 230px;
  left: 170px;
  width: 100px;
}